@import url('fonts.css');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  max-width: 720px;
}

:lang(la) {
  font-family: 'Julius Sans One', sans-serif;
}

:lang(ta) {
  font-family: 'Noto Serif Tamil', sans-serif;
}

:lang(hi) {
  font-family: 'Noto Serif Devanagari', sans-serif;
}

:lang(sa) {
  font-family: 'Noto Serif Grantha', sans-serif;
}

img {
  float: right;
  max-width: 240px;
  border-radius: 100%;
  margin: 10px;
}

@media (orientation: portrait) {
  h1, h2 {
    text-align: center;
  }
  body {
    max-width: inherit;
    margin: 50px;
  }
  img {
    max-width: 196px;
  }
}
