@import url('/assets/css/fonts.css');

body {
  margin: 0 auto;
  max-width: 720px;
}

img {
  float: right;
  max-width: 240px;
  border-radius: 100%;
  margin: 10px;
}

.ipa {
  font-size: 1.25em;
}

@media only screen and (max-width: 720px) {
  h1, h2 {
    text-align: center;
  }
  body {
    max-width: inherit;
    margin: 25px;
  }
  img {
    max-width: 196px;
    float: none;
    margin: 0 auto;
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color: #FAFAFA;
    background: #212121;
  }

  a {
    color: #03A9F4;
  }

  a:visited {
    color: #B39DDB;
  }
}

table {
  width: 100%;
}

.footnote-ref {
  text-decoration: none;
  margin-left: 2px;
  color: inherit;
}
