@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@font-face {
  font-family: 'Noto Sans Tamil';
  src: url('assets/fonts/NotoSansTamil-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Devanagari';
  src: url('assets/fonts/NotoSansDevanagari-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Grantha';
  src: url('assets/fonts/NotoSansGrantha-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Brahmi';
  src: url('assets/fonts/NotoSansBrahmi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif Tamil';
  src: url('assets/fonts/NotoSerifTamil-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif Devanagari';
  src: url('assets/fonts/NotoSerifDevanagari-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif Grantha';
  src: url('assets/fonts/NotoSerifGrantha-Regular.ttf') format('truetype');
}

:lang(en) {
  $if(mainfont)$
  font-family: $mainfont$, sans-serif;
  $else$
  font-family: 'Montserrat', sans-serif;
  $endif$
}

:lang(la) {
  $if(mainfont)$
  font-family: $mainfont$, sans-serif;
  $else$
  font-family: 'Julius Sans One', sans-serif;
  $endif$
}

:lang(la-Latg) {
  $if(mainfont)$
  font-family: $mainfont$, sans-serif;
  $else$
  font-family: 'Uncial Antiqua', sans-serif;
  $endif$
}

:lang(ta), :lang(sa-Taml) {
  $if(noto-sans)$
  font-family: 'Noto Sans Tamil', sans-serif;
  $else$
  font-family: 'Noto Serif Tamil', sans-serif;
  $endif$
}

:lang(sa), :lang(hi) {
  $if(noto-sans)$
  font-family: 'Noto Sans Devanagari', sans-serif;
  $else$
  font-family: 'Noto Serif Devanagari', sans-serif;
  $endif$
}

:lang(sa-Gran) {
  $if(noto-sans)$
  font-family: 'Noto Sans Grantha', sans-serif;
  $else$
  font-family: 'Noto Serif Grantha', sans-serif;
  $endif$
}

:lang(sa-Latn) {
  $if(noto-sans)$
  font-family: 'Noto Sans', sans-serif;
  $else$
  font-family: 'Noto Serif', sans-serif;
  $endif$
}

:lang(sa-Brah) {
  font-family: 'Noto Sans Brahmi', sans-serif;
}

:lang(en-phonipa), :lang(la-phonipa), :lang(sa-phonipa) {
  font-family: "Voces", sans-serif;
}
