@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@font-face {
  font-family: 'Noto Sans Tamil';
  src: url('assets/fonts/NotoSansTamil-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Devanagari';
  src: url('assets/fonts/NotoSansDevanagari-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Grantha';
  src: url('assets/fonts/NotoSansGrantha-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Brahmi';
  src: url('assets/fonts/NotoSansBrahmi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Old Italic';
  src: url('assets/fonts/NotoSansOldItalic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Adinatha';
  src: url('assets/fonts/Adinatha-Tamil-Brahmi.otf') format('opentype');
}
@font-face {
  font-family: 'Agastya';
  src: url('assets/fonts/agastya_sans.otf') format('opentype');
}

:lang(en) {
  font-family: 'Montserrat', sans-serif;
}

:lang(la), :lang(la) * {
  font-family: 'Libre Baskerville', sans-serif;
}

:lang(la-Latg), :lang(la-Latg) * {
  font-family: 'Uncial Antiqua', sans-serif;
}

:lang(la-Ital) {
  font-family: 'Noto Sans Old Italic', 'Noto Sans', sans-serif;
}

:lang(ta), :lang(sa-Taml) {
  font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif;
}

:lang(sa), :lang(hi), :lang(ta-Deva) {
  font-family: 'Noto Sans Devanagari', 'Noto Sans', sans-serif;
}

:lang(sa-Gran) {
  font-family: 'Noto Sans Grantha', 'Noto Sans', sans-serif;
}

:lang(sa-Latn), :lang(ta-Latn) {
  font-family: 'Noto Sans', 'Noto Sans', sans-serif;
}

:lang(sa-Brah), :lang(ta-Brah) {
  font-family: 'Noto Sans Brahmi', 'Noto Sans', sans-serif;
}

:lang(ta-Brah) {
  font-family: 'Adinatha', 'Noto Sans Brahmi', 'Noto Sans', sans-serif;
}

:lang(sa-Xaaa) {
  font-family: 'Agastya', 'Noto Sans Tamil', 'Noto Sans', sans-serif;
}

:lang(en-phonipa), :lang(la-phonipa), :lang(sa-phonipa), :lang(ta-phonipa) {
  font-family: "Voces", sans-serif;
  font-weight: 400;
}
